<h1>Merchant Bulk Discounts</h1>
<section class='discount-links'>
  <%= link_to 'Create New Bulk Discount', '/merchant/discounts/new' %>
</section>
<section id='discounts'>
  <% @discounts.each do |discount| %>
    <section id="discount-<%= discount.id %>">
      <h3><%= discount.nickname %></h3>
      <p><%= discount.price %>% off for <%= discount.quantity %> or more items.</p>
      <p><%= link_to 'Edit Discount', "/merchant/discounts/#{discount.id}/edit" %></p>
      <p><%= link_to 'Delete Discount', "/merchant/discounts/#{discount.id}", method: :delete %></p>
    </section>
  <% end %>
</section>
